<ion-view view-title="手机登录">
  <ion-content class="stable-bg">
    <div class="margin40-top">
      <h2 class="text-center brown">设置登录密码</h2>
    </div>

    <div class="list margin20-top">
      <div class="item item-input">
        <input type="number" ng-model="traveler.password" placeholder="请设置登录密码">
      </div>
      <div class="item item-input">
        <input type="number" ng-model="traveler.passwordCopy" placeholder="请重新输入登录密码">
      </div>
    </div>

    <div class="padding">
      <button class="button button-block button-green">完成</button>
    </div>
  </ion-content>
</ion-view>
